<html>
  <head>
    <title>Hello EJS Template</title>
    <!-- different path again index -->
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <h1>User: <%= ID %></h1>
    <h2>Querystring Value: <%= queryString %></h2>
  </body>
</html>